polkit.addRule(function(action, subject) {
    if (action.id.indexOf("org.freedesktop.color-manager.") === 0) {
        return polkit.Result.YES;
    }

    return polkit.Result.NOT_HANDLED;
});

// vim:set ft=javascript:
